/* Base reset for consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light gray text */
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Header section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a; /* Darker background for header */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Logo on the left */
#logo img {
    height: 60px;
    width: auto;
}

/* General navigation button styles */
nav {
    flex-grow: 1; /* Allow nav to take remaining space */
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

nav li {
    display: inline-block;
}

nav a {
    color: #e0e0e0; /* Default color */
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    color: #ff6347;
}

/* Active button styles */
nav a.active {
    background-color: #ff6347;  /* Highlighted background */
    color: #fff; /* White text for active link */
    border-radius: 5px; /* Rounded corners */
}

/* Main content */
h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

/* Panel Styling */
#panel {
    background-color: #1a1a1a; /* Dunkler Hintergrund für das Panel */
    color: #e0e0e0; /* Helle graue Schrift */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#panel h2 {
    text-align: center;
    color: #ff6347; /* Hervorhebung der Überschrift */
}

#panel ul {
    list-style-type: disc;
    padding-left: 20px;
}

#panel li {
    margin: 10px 0;
}

/* Footer styling */
footer {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Shop Styling */
#shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
    color: #ff6347;
}

.product p {
    margin: 10px 0;
}

.product button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #e5533d;
}